%body
  =render "shared/side_bar"
  %div.chat-main
    %div.chat-main_header
      %div
        %div.chat-main_header-group.clearfix
          = @group.name
        %div.chat-main_header-edit-group.btn.btn-outline-info
          Edit
      %div.chat-main_header-members
        ="Member:" + @group.users.find(1).name
    %div.chat-main_body
      = render @messages
    %div.chat-main_footer
      .chat-main-footer-body.input-group.mb-3
        = form_for [@group, @message] do |f|
          = f.text_field :body, class: "message", id: "message_body", placeholder: "type a message"
          = f.label :image, class: "" do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: "submit btn btn-lg btn-primary"
      -# %form.chat-main_footer-from#new_message{method: "post"}
      -#   %div.chat-main_footer-body.input-group.mb-3
      -#     %input.message#message_body.form-control{placeholder: "type a message", type: "text", name: "message[body]"}
      -#     %button.chat-file.btn-default{type: "button", name: "message_image"}
      -#       %i.fa.fa-image
      -#     %input.submit.btn.btn-lg.btn-primary{type: "submit", name: "commit", value: "send"}
